.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.4rem;
    padding: 1.4rem 0;
}

header ul {
    display: flex;
    word-spacing: -4px;
    justify-content: space-between;
    margin-right: 1.2rem;
}

header ul li {
    padding: 0.6rem;
}

header ul li:hover {
    cursor: pointer;
}

header ul li:nth-child(1) {
    margin-right: 0.6rem;
}

header ul li:nth-child(1):hover { 
    color: #E65100;
 }

header ul li:nth-child(2) {
    color: #fff;
    background-color: #EF6C00;
    border-radius: 6px;
}

header ul li:nth-child(2):hover {
    background-color: #E65100;
    transition: background-color 0.2s ease-out;
}